* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	scroll-behavior: smooth;
}

.cnavprop {
	color: white !important;
}

.form-control:focus {
	border-bottom: 2px solid#e4717a;
	box-shadow: none;
}

.cnavprop:hover {
	color: #e4717a !important;
}

#header {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	height: 100vh;
}

.welcomeMessage {
	display: flex;
	flex-direction: column;
	z-index: 100;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 23pt;
	position: absolute;
}

.fa-arrow-right {
	font-size: 1em;
	margin-left: 0.2rem;
}

#portfolio-btn {
	letter-spacing: 2px;
}

.line1 {
	border-right: 2px solid rgba(255, 255, 255, .75);
	white-space: nowrap;
	overflow: hidden;
}

.line2 {
	border-right: 2px solid rgba(255, 255, 255, .75);
	white-space: nowrap;
	visibility: hidden;
	overflow: hidden;
}

.anim1,
.anim2 {
	width: 0px;
}

.btn-normal {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.img-container {
	cursor: pointer;
}

.imgInfo {
	position: absolute;
	width: 100%;
	height: 0;
	top: 0;
	background-color: white;
	left: 0;
}

.card {
	background-color: #1b1b1b;
}

@media (max-width: 525px) {
	.skill-container,
	.skill {
		max-height: 2rem !important;
	}
	#html,
	#css,
	#javascript,
	#react,
	#angular,
	#node,
	#express,
	#php,
	#mongo,
	#sql {
		padding-left: 20px;
	}
}

@media (max-width: 400px) {
	#portfolio-btn {
		width: 9rem;
		font-size: 0.5em;
		letter-spacing: normal;
	}
}

.border-nav {
	border-bottom: 3px solid #e4717a;
}
