
.header {
    max-height: 100vh;
    position: relative;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 23pt;
    @include respond(phone) {
        font-size: 13pt;      
    }
    position: absolute;
}