
.navbar {
    background-color: $color-jet;
    font-size: 2em;
    z-index: 1000;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li:hover {
            background-color: $color-onyx;
            a {
                color: $color-tango-pink;
            }
        }
        .dropDown {
            padding: 0;
            display: none;
            @include respond(phone) {
                display: block;
            }
            a {
                float: left;
                display: block;
                color: #f2f2f2;
                padding: 1.5rem 2rem;
                line-height: 8px;
                text-align: center;
                text-decoration: none;
                font-size: 2rem;    
            }
        } 
        li {
            padding: 1.5rem;
            @include respond(phone) {
                display: none;
            }
            flex: auto;
            display: flex;
            cursor: pointer;
            text-align: center;
            a {
                flex: auto;
                color: $color-white;
                text-decoration: none;
                @include respond(phone) {
                    display: none;
                }
            }
        }
        &__responsive a {
            display: block;
            color: $color-white;
            padding: 1.5rem 2rem;
            text-decoration: none;
            font-size: 2rem;  
            text-align: left;
        }
        &__responsive .dropDown {
            padding: 1.5rem 0;
        }
        &__responsive .dropDown a {
            float: left;
            padding: 0 2rem;
            display: block;
            color: $color-white;
            line-height: 8px;
            text-align: center;
            text-decoration: none;
            font-size: 2rem;  
        }
    }
}

.sticky {
    position: fixed;
    top:0;
    width: 100%;
}
